.calculator {
    width: 350px;
    height: 450px;
    border: 3px solid #68043e;
    margin: 100px auto 0;
    text-align: center;
    background-color: #f9b3dc;
    border-radius: 3px;
}

.calc__form {
    height: 100%;
    padding: 25px;
}

.calc__row {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    color: #f77036
}

.calc__display {
    margin: 0 0 20px;
    width: 100%;
    border: 1.5px solid #9b140a;
    padding: 10px 5px;
    text-align: right;
    font: 700 20px/1 Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
}

.calc__key {
    width: 57px;
    height: 35px;
    cursor: pointer;
    border: none;
    transition: all .2s;
    text-transform: uppercase;
}

.calc__key--equal {
    width: 100px;
}

.calc__key:hover {
    background-color: #fffa75;
    font-weight: 700;
}

.calc__key::-moz-focus-inner {
    border: none
}
